# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/ytklexdrevrzwfopftrt/settings/api-keys
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl0a2xleGRyZXZyendmb3BmdHJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NzA2NjMsImV4cCI6MjA5OTM0NjY2M30.9MUapNb5NcS1l03hb7rM70zkXXQAO3PpQyDJA_TuQZQ
